* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Calibri", sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  padding: 1rem 0;
  align-items: center;
  justify-content: center;
  background: linear-gradient(#f1fdf7, #a2b1b8);
  color: rgb(80, 83, 88);
}

.cardTrue,
.cardFalse {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  width: 15%;
  max-width: 15%;
  padding: 0.5rem 0.5rem;
  text-align: center;
  border-radius: 1rem;
  background: linear-gradient(#bae1b6,#f0f3ef);
  border-top: 1px solid linear-gradient(#031f00,#f0f3ef);
  box-shadow: 0 3px 5px #9ba6b2;
  font-size: 1.2em;
  opacity: 0.9;
}

.cardFalse {
  background: linear-gradient(#f0ecec, #eacaca);
}

.cardTrue:hover, .cardFalse:hover {
opacity: 1;
transform: scale(0.98);
transition: .1s;
}



.container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 2rem 0;
  gap: 1rem;
  width: 80%; 
}

h1 {
  color: #777777;
  letter-spacing: 0.5rem;
}

.stateTrue {
  color: #00b600;
}

.stateFalse {
  color: #dd0000;
}
