@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;700&display=swap');

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Nunito', sans-serif;
}

.divider {
    height: .05rem;
    background-color: #dcdcdc;
    margin: .25rem 15rem;
    width: 75%;
}

.parent-container {
    display: flex;
    background-color: white;
    align-items: center;
    width: 100%;
    flex-direction: column;
}

/* Navbar container */

.tabList {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 5em;
    list-style: none;
}

.tabList li {
    color: #5077b5;
    cursor: pointer;
}

.tabList li:hover {
    color: #364e74
}

.info-bar  {
    width: 100%;
    height: 4.2vh;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
}

.green {
    background-color: #59ac65;
}

.blue {
    background-color: #7e9dd0;
}

.tabContainer {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    margin: 26px 0px;
    padding: 0 15px;
    align-items: center;
    justify-content: flex-start;
    font-size: 12px;
    letter-spacing: 0.9pt;
    gap: 14px;
}

.logo {
    max-width: 300px;
    margin-right: 10px;
    cursor: pointer;
    flex-basis: 50%;
}

.logo img {
    width: 100%;
}

.sideList {
    list-style: none;
    display: flex;
    margin-left: auto;
    gap: 30px;
}

.sideList li {
    color: #5077b5;
    cursor: pointer;
}

/*  Slideshow container */

.slideshow-container {
    display: flex;
    width: 100%;
}

.slideshow-container img {
    display: flex;
    width: 100%;

    cursor: pointer;
}

 /* Collection container  */

.collection-container {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-bottom: 5rem;
}

.pots-container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 32px;
}

.pot-description {
    padding: 0 2rem;
    font-size: 0.9rem;
    font-weight: 500;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    gap: .5rem;
}

.pot-description > span {
    font-size: .9em;
}

.pots-child {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    flex-basis: 18%;
    cursor: pointer;
}

.pots-child img {
    width: 100%;
    height: 100%;
}

.pots-child img:hover {
    opacity: 0.5;
}

.collection-container h2 {
    color: #60bb6d;
    padding: 45px 0;
    font-weight: 300;
    font-size: 21px;
    word-spacing: 0.4ch;
    letter-spacing: 0.2ch;
}

.card-img-container:nth-of-type(odd) {
display: flex;
flex-direction: row;
width: 100%;
}

.card-img-container:nth-of-type(even) {
    display: flex;
    flex-direction: row-reverse;
    width: 100%;
    }

#first-card-img-container {
    display: flex;
    flex-direction: row;
}

.card-img-container img {
    width: 50%;
}

.info-card{
font-size: 1em;
text-align: center;
gap: 1.5rem;
width: 50%;
padding: 10rem;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
color: #505c6c;
background-color: #f8f8f9;
}


.instagram-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.instagram-container > h2 {
    font-weight: bold;
    color: #60bb6d;
    padding: 2.8rem 0;
}

.insta-pics-container {
    display: flex;
    gap: .15rem;
    max-width: 100%;
    justify-content: space-between;
}

.insta-pic {
    width: 20%;
}

.insta-pic:hover {
    opacity: 0.5;
}

.insta-pic img {
    width: 100%;
}

.footer {
    width: 80%;
display: flex;
justify-content: center;
align-items: center;
color: #505c6c;
font-size: .8rem;
}

a {
    color: #60bb6d;
    cursor: pointer;
}

.suscription-form {
    display: flex;
    width: 46%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid grey;
}

.suscription-form button {
    padding: .9em 0;
    border-style: none;
    background-color: white;
    width: 100%;
    text-align: center;
    font-size: .6rem;
    letter-spacing: .2ch;
    color: #505c6c;
}

.footer-section {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    flex-direction: column;
    padding: 2rem 2rem;
}

.form-input {
    text-align: center;
    width: 100%;
    font-size: .9em;
    padding: .5rem;
    border-style: none;
    border-bottom: 1px solid grey;
}

input[type='text']::placeholder {
    color: #5b5c5d;
}

.legal-info {
    display: flex;
    font-size: .85rem;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 2em;
    color: #505c6c;
    gap: .3rem
}

.legal-links {
    display: flex;
    justify-content: center;
    gap: 1rem;
}

.socials-icons {
    margin: 0 1rem;
    width: 90px;
    display: flex;
    gap: 1rem;
}

.legal-links a {
    color: #505c6c;
}

.wpp-circle {
    position: fixed;
    width: 55px;
    height: 55px;
    background-color: #60bb6d;
    border-radius: 50%;
    right: 1.2rem;
    bottom: 1.2rem;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.wpp-circle img {
    width: 62%;
}

.plantennials-logo {
    color: #FFF;
    position: fixed;
    display: flex;
    background-color: #60bb6d;
    justify-content: center;
    align-items: center;
    border-radius: 2rem;
    width: fit-content;
    left: 1.2rem;
    bottom: 1.2rem;
    padding: 1rem 0;
    gap: .8rem;
}

.plantennials-logo img {
    width: 15%;
}


